{% extends 'posts/layout.html' %}

{% block title %}Question: {{ question.title }}{% endblock %}


{% block content %}
    <h3>{{ question.title }}</h3>
    <h5>{{ question.text }}</h5>
    <h5>{{ question.pub_date }}</h5>
    <h5>Author: {{ question.author }}</h5>
    <h5>Votes: {{ question.votes }}</h5>

    {% for tag in question.tags.all %}
        {{tag.name}}
    {% endfor %}

    <br>
    {% for answer in answers %}
    <h5>{{ answer.text }}</h5>
    <h5>{{ answer.author }}</h5>
    <h5>{{ answer.pub_date }}</h5>
    <h5>{{ answer.votes }}</h5>
    <h5>{{ answer.is_right }}</h5>
{% endfor %}

{% endblock %}
